<div class="wrapper">
  <ul class="user-list">
    <li class="user-list-item">
      <img src=<%=  @user.photo %> alt="user">
      <div>
        <h3><%= @user.name %></h3>
        <p class="float-right">Number of posts: <span><%=@user.posts_counter %></span>
      </div>
    </li>
  </ul>
   <ul class="post-list list-type-none">
    <% @user.posts.each do |post| %>
      <li class="post-list-item">
      <div class="border post">
        <p>Post #<%= post.id %></p>
        <p><%= post.text %></p>
        <ul class="comments-likes">
          <li>Comments: <%=post.comments_counter || 0 %></li>
          <li>Likes: <%=post.likes_counter || 0 %></li>
        </ul>
      </div>
      <ul class="list-type-none border comments">
        <% if post.comments.empty? %>
          <p>No comments</p>
        <% else %>
          <% post.recent_comments.each do |comment| %>
            <li><%= comment.author.name %>: <%= comment.text %></li>
          <% end %>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
  <div class="action_btn">
    <%= link_to  "Create new Post", new_user_post_path(@user)  %>
    <%= link_to 'Pagination' %>
  </div>
</div>