<div class="wrapper">
  <ul class="user-list">
    <li class="user-list-item">
      <img src=<%=  @user.photo %> alt="user">
      <div>
        <h3><%= @user.name %></h3>
        <p class="float-right">Number of posts: <span><%=@user.posts_counter %></span>
      </div>
    </li>
  </ul>
   <ul class="post-list list-type-none">
    <% @posts.each do |post| %>
      <li class="post-list-item">
      <div class="border post">
        <p>Post #<%= post.id %></p>
        <p><%= post.text %></p>
        <ul class="comments-likes">
          <li>Comments: <%=post.comments_counter %></li>
          <li>Likes: <%=post.likes_counter %></li>
        </ul>
      </div>
      <ul class="list-type-none border comments">
        <% post.recent_comments.each do |comment|%>
          <li><%= comment.user.name %><%= comment.text %></li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
  <div class="action_btn">
    <%= link_to 'Pagination' %>
  </div>
</div>