<div class="wrapper">
  <div class="border post">
    <div class="post-header">
      <h3>Post#<%=@post.id%> by <%= @user.name%></h3>
      <ul class="comments-likes">
        <li>Comments: <%=@post.comments_counter%>,</li>
        <li>Likes: <%=@post.likes_counter%>,</li>
      </ul>
    </div>
     <p><%= @post.text %></p>
  </div>
    <ul class="list-type-none border comments">
      <% @comments.each do |comment| %>
        <li> <%= comment.user.name %> : <%= comment.text %></li>
      <% end %>
    </ul>
  </div>
</div>